* {
  box-sizing: border-box;
  font-family: "Montserrat";
}

.body {
  font-family: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.page-heading {
  font-size: 1.75rem;
  font-weight: 700;
  color: rgb(31, 44, 77);
  display: flex;
  justify-content: center;

  @media (width >= 500px) {
    font-size: 36px;
    justify-content: flex-start;
  }
}

main > .records {
  display: flex;
}
