* {
  box-sizing: border-box;
  font-family: "Montserrat";
}

.page-header {
  height: 124px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (width >= 500px) {
    height: 160px;
    display: flex;
  }
}

.page-heading {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 34px;
  color: rgb(31, 44, 77);

  @media (width >= 500px) {
    font-size: 36px;
    line-height: 40px;
    width: 1590px;
    padding-left: 149px;
    padding-right: 181px;
  }
}

.records {
  display: flex;
  justify-content: center;

  .record {
    width: 343px;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 8px;
    display: flex;
    flex-direction: column;

    .record__cover {
      border-radius: 8px;
    }

    .record__title {
      display: flex;
      font-weight: 600;
      margin: 16px;
    }

    .record__type {
      background-color: rgb(231, 248, 241);
      color: rgb(9, 178, 114);
      padding: 5px 28px;
      border-radius: 4px;
      margin: 0 16px;
      font-weight: 600;
    }

    .record__details {
      display: flex;
      margin: 16px 18px;
      justify-content: space-between;
    }

    .price-container {
      display: flex;
      flex-direction: column;

      .record__discounted-price {
        font-size: 18px;
        font-weight: 700;
        color: rgb(207, 30, 31);
      }

      .record__price {
        font-size: 16px;
        font-weight: 500;
        color: rgb(107, 121, 153);
      }
    }

    .buttons-container {
      display: flex;
      gap: 10px;

      button {
        cursor: pointer;
        background: transparent;
        border: none;
      }

      .buy {
        font-weight: 600;
        font-size: 14px;
      }
    }
  }
}
